<main>
  <section>
      <article>
          <img src="./assets/img/img1.jpg" alt="Foto oferta">
          <div class="detalhes">
              <h3>Super Burguer</h3>
              <p>Rodizio de mini-hamburguer com opçoes de entrada</p>
              <p id="valor-oferta">R$ 23,50</p>
              <button>Ver oferta</button>
          </div>
      </article>
      <article>
          <img src="./assets/img/img1.jpg" alt="Foto oferta">
          <div class="detalhes">
              <h3>Super Burguer</h3>
              <p>Rodizio de mini-hamburguer com opçoes de entrada</p>
              <p id="valor-oferta">R$ 23,50</p>
              <button>Ver oferta</button>
          </div>
      </article>
      <article>
          <img src="./assets/img/img1.jpg" alt="Foto oferta">
          <div class="detalhes">
              <h3>Super Burguer</h3>
              <p>Rodizio de mini-hamburguer com opçoes de entrada</p>
              <p id="valor-oferta">R$ 23,50</p>
              <button>Ver oferta</button>
          </div>
      </article>
      <article>
          <img src="./assets/img/img1.jpg" alt="Foto oferta">
          <div class="detalhes">
              <h3>Super Burguer</h3>
              <p>Rodizio de mini-hamburguer com opçoes de entrada</p>
              <p id="valor-oferta">R$ 23,50</p>
              <button>Ver oferta</button>
          </div>
      </article>
      <article>
          <img src="./assets/img/img1.jpg" alt="Foto oferta">
          <div class="detalhes">
              <h3>Super Burguer</h3>
              <p>Rodizio de mini-hamburguer com opçoes de entrada</p>
              <p id="valor-oferta">R$ 23,50</p>
              <button>Ver oferta</button>
          </div>
      </article>
      <article>
          <img src="./assets/img/img1.jpg" alt="Foto oferta">
          <div class="detalhes">
              <h3>Super Burguer</h3>
              <p>Rodizio de mini-hamburguer com opçoes de entrada</p>
              <p id="valor-oferta">R$ 23,50</p>
              <button>Ver oferta</button>
          </div>
      </article>
      <article>
          <img src="./assets/img/img1.jpg" alt="Foto oferta">
          <div class="detalhes">
              <h3>Super Burguer</h3>
              <p>Rodizio de mini-hamburguer com opçoes de entrada</p>
              <p id="valor-oferta">R$ 23,50</p>
              <button>Ver oferta</button>
          </div>
      </article>
  </section>
</main>