<header>
  <div class="topHeader">
      <figure class="logo">
          <a href="">
              <img src="./assets/img/logoB.png" alt="Logo">
          </a>
      </figure>
      <div>
          <p>Pássaro</p>
          <p>Urbano</p>
      </div>
      <figure class="carrinho">
          <a href="">
              <img src="./assets/img/carrinho.png" alt="carrinho">
          </a>
      </figure>
  </div>
  <nav>
      <ul>
          <li>
              <a href="" class="active">Restaurantes</a>
          </li>
          <li>
              <a href="">Diversão</a>
          </li>
      </ul>
  </nav>
</header>