@import '../../scss/styles.scss';

header {
    background-color: whitesmoke; 
    
   .topHeader {
     display: flex;
     width: 95%;
     margin: auto;

     figure{
       margin: 10px;
       @extend %flex-display;
     }
     .carrinho {
       padding-left: 80px;
     }
     
     div {
       @extend %flex-display;

       p {
         font-weight: 600;
         font-size: 24px;
         margin: 1px 0;
         color: $orange;
       }
       :first-child {
         color: $dark-blue;
       }
     }
   }
   nav{
     @extend %menu-links;
   }
 }